* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header,
main,
footer {
  min-width: calc(100vw - 34x * 2);
  padding: 10px 20px;
}

header {
  font-weight: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

header h1 {
  text-align: center;
  color: salmon;
  text-shadow: darkblue 1px 1px 0;
}

header h3 {
  text-align: center;
}

header h3 a {
  margin-right: 16px;
  color: darkblue;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1.2px;
}

main .head {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

main div {
  width: 100%;
  padding: 16px;
}

main div button {
  width: 80px;
  height: 32px;
  cursor: pointer;
  font-size: 16px;
}

main div button:hover {
  background-color: darkblue;
  color: white;
}

main div input,
main div select {
  width: 160px;
  height: 32px;
  border: none;
  padding: 0 4px;
  letter-spacing: 1.2px;
}

main div label {
  display: inline-block;
  padding: 0 4px;
  width: 160px;
  font-size: 14px;
  font-weight: normal;
}

main div span {
  display: inline-block;
}

main div span:nth-child(1) {
  width: 40px;
}

main div span:nth-child(2) {
  width: 200px;
}

main div span:nth-child(3) {
  width: calc(80% - 40px - 200px - 60px - 60px);
}

main div span:nth-child(4) {
  width: 100px;
}

main div span:nth-child(5) {
  width: 100px;
}

main div:nth-child(1) {
  background-color: salmon;
}

main .list {
  border-top: 1px solid salmon;
  border-bottom: 1px solid salmon;
}

main .list:hover {
  background-color: #f5e8e6;
  color: darkblue;
  border-top: 1px solid darkblue;
  border-bottom: 1px solid darkblue;
}

main .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: salmon;
  color: darkblue;
  font-weight: bold;
}

main p {
  width: 100%;
  text-align: center;
}

main p#error {
  background-color: darkblue;
  color: white;
  padding: 16px;
  margin: 0;
}

main p#success {
  background-color: darkgreen;
  color: white;
  padding: 16px;
  margin: 0;
}

main h4 {
  font-weight: normal;
  letter-spacing: 2.4px;
  width: 100%;
  padding: 40px;
  text-align: center;
  background-color: salmon;
}

footer {
  padding: 20px 0;
}

footer div {
  text-align: center;
}
